{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@page": "./page",
          "@": "./src"
        }
      }
    ]
  ]
}
